.profile {
    display: flex;
    padding: 34px 0 20px;
    border-bottom: 1px rgba(33, 33, 33, 0.4) solid;
}

.profile__avatar {
    height: 190px;
    width: 190px;
    margin-right: 20px;
    border-radius: 5%;
}

.profile__column {
    display: flex;
    flex-direction: column;
    font-family: Poppins, Arial, Helvetica, sans-serif;
}

.profile__name {
    margin: 0 0 12px;
    font-weight: 500;
    font-size: 32px;
    line-height: 1;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
   -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
  color: #212121;
  font-family: Poppins, Arial, Helvetica, sans-serif;
}

.profile__description {
    margin: 0;
    display: -webkit-box;
    overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
  color: #212121;
  opacity: 70%;
}

.profile__edit-btn {
    margin-top: auto;
    display: flex;
    justify-content: start;
    font-family: Poppins, Arial, Helvetica, sans-serif;
    font-weight: 400;
    background: transparent;
    font-size: 16px;
    border-radius: none;
    border-style: hidden;
}

.profile__edit-btn:hover {
    cursor: pointer;
    font-family: Poppins, Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-style: medium;
    font-size: 16px;
    opacity: 70%;
}

.profile__add-btn:hover {
    cursor: pointer;
    opacity: 80%;
    border-radius: 8px;
    padding: 18px 32px;
}

.profile__add-btn {
    margin-left: auto;
    display: flex;
    align-self: flex-end;
    justify-content: center;
    align-items: center;
    gap: 8px;
    background-color: #000;
    color: #FCF5E5;
    padding: 18px 32px;
    height: 52px;
    width: 157px;
    border-radius: 8px;
    font-family: Poppins, Arial, Helvetica, sans-serif;
    font-weight: 500;
}

@media screen and (max-width: 627px) {
    .profile {
        flex-direction: column;
        display: flex;
        max-width: 288px;
        align-items: center;
        text-align: center;
        padding-top: 20px;
    }

    .profile__avatar {
        height: 80px;
        width: 80px;
        margin: 0 0 12px;
    }

    .profile__add-btn {
        margin: 0;
        width: 100%;
    }

    .profile__name {
        font-size: 20px;
        margin-bottom: 6px;
        max-width: 288px;
    }

    .profile__column {
        margin: 0 0 20px;
        flex-direction: column;
    }

    .profile__description {
        margin: 32px;
        max-width: 288px;
        font-size: 16px;
    }
}